<h1>Player Archive</h1>

<section class="search-form">
  <pa-form (onPlayerDetails)="displayPlayerDetails($event)"></pa-form>
  <section *ngIf="activePlayerDetails.status; else messageTemplate" class="player-details">
    <h2>Player Details</h2>
    <ul class="player-details-list">
      <li>Id: {{activePlayerDetails.details?.id}}</li>
      <li>Active: true</li>
      <li>Age: {{activePlayerDetails.details?.profile?.age}}</li>
      <li>Role: {{activePlayerDetails.details?.profile?.role}}</li>
      <li>Team: {{activePlayerDetails.details?.profile?.team}}</li>
    </ul>
  </section>
</section>

<ng-template #messageTemplate>
  <span class="error-message">{{activePlayerDetails.message}}</span>
</ng-template>