<main class="player-section-contianer">
  <h1 class="app-title">Player Archive</h1>
  
  <section class="search-form">
    <label class="form-label">Player Search:</label>
    <pa-form (onPlayerDetails)="displayPlayerDetails($event)"></pa-form>
    <section *ngIf="activePlayerDetails.status; else messageTemplate" class="player-details">
      <h4>Player Details</h4>
      <div class="container">
        <div class="player-info-container">
          <div class="player-stats">
            <ul class="player-details-list">
              <li><span class="stat-highlighter">Id:</span> {{activePlayerDetails.details?.id}}</li>
              <li><span class="stat-highlighter">Active:</span> true</li>
              <li><span class="stat-highlighter">Age:</span> {{activePlayerDetails.details?.profile?.age}}</li>
              <li><span class="stat-highlighter">Role:</span> {{activePlayerDetails.details?.profile?.role}}</li>
              <li><span class="stat-highlighter">Team:</span> {{activePlayerDetails.details?.profile?.team}}</li>
            </ul>
          </div>
          <div class="player-image">
            <img [src]="activePlayerDetails.details?.profile?.picture" alt="player image" />
          </div>
        </div>
        <div class="player-stats-container">
          <h4>Player Stats</h4>
            <ul class="player-stats-list">
              <li>
                <span>
                  <span class="stat-highlighter">blocks : </span> <span class="stat-token"> {{activePlayerDetails.details?.stats?.blocks}}</span>
                </span>
              </li>
              <li>
                <span>
                  <span class="stat-highlighter">totalTackles : </span> <span class="stat-token"> {{activePlayerDetails.details?.stats?.totalTackles}}</span>
                </span>
              </li>
              <li>
                <span>
                  <span class="stat-highlighter">interceptions : </span> <span class="stat-token"> {{activePlayerDetails.details?.stats?.interceptions}}</span>
                </span>
              </li>
              <li>
                <span>
                  <span class="stat-highlighter">tacklesWon : </span> <span class="stat-token"> {{activePlayerDetails.details?.stats?.tacklesWon}}</span>
                </span>
              </li>
              <li>
                <span>
                  <span class="stat-highlighter">yellowCards : </span> <span class="stat-token"> {{activePlayerDetails.details?.stats?.yellowCards}}</span>
                </span>
              </li>
              <li>
                <span>
                  <span class="stat-highlighter">passingAccuracy : </span> <span class="stat-token"> {{activePlayerDetails.details?.stats?.passingAccuracy}}</span>
                </span>
              </li>
              <li>
                <span>
                  <span class="stat-highlighter">clearances : </span> <span class="stat-token"> {{activePlayerDetails.details?.stats?.clearances}}</span>
                </span>
              </li>
              <li>
                <span>
                  <span class="stat-highlighter">totalCrosses : </span> <span class="stat-token"> {{activePlayerDetails.details?.stats?.totalCrosses}}</span>
                </span>
              </li>
              <li>
                <span>
                  <span class="stat-highlighter">aerialDuelsWon : </span> <span class="stat-token"> {{activePlayerDetails.details?.stats?.aerialDuelsWon}}</span>
                </span>
              </li>
              <li>
                <span>
                  <span class="stat-highlighter">minutesPlayed : </span> <span class="stat-token"> {{activePlayerDetails.details?.stats?.minutesPlayed}}</span>
                </span>
              </li>
              <li>
                <span>
                  <span class="stat-highlighter">minutesPerGoal : </span> <span class="stat-token"> {{activePlayerDetails.details?.stats?.minutesPerGoal}}</span>
                </span>
              </li>
              <li>
                <span>
                  <span class="stat-highlighter">headedGoals : </span> <span class="stat-token"> {{activePlayerDetails.details?.stats?.headedGoals}}</span>
                </span>
              </li>
              <li>
                <span>
                  <span class="stat-highlighter">foulsConceded : </span> <span class="stat-token"> {{activePlayerDetails.details?.stats?.foulsConceded}}</span>
                </span>
              </li>
              <li>
                <span>
                  <span class="stat-highlighter">totalPasses : </span> <span class="stat-token"> {{activePlayerDetails.details?.stats?.totalPasses}}</span>
                </span>
              </li>
              <li>
                <span>
                  <span class="stat-highlighter">totalShots : </span> <span class="stat-token"> {{activePlayerDetails.details?.stats?.totalShots}}</span>
                </span>
              </li>
              <li>
                <span>
                  <span class="stat-highlighter">otherGoals : </span> <span class="stat-token"> {{activePlayerDetails.details?.stats?.otherGoals}}</span>
                </span>
              </li>
              <li>
                <span>
                  <span class="stat-highlighter">duelsWon : </span> <span class="stat-token"> {{activePlayerDetails.details?.stats?.duelsWon}}</span>
                </span>
              </li>
              <li>
                <span>
                  <span class="stat-highlighter">shotsOnTarget : </span> <span class="stat-token"> {{activePlayerDetails.details?.stats?.shotsOnTarget}}</span>
                </span>
              </li>

              <li>
                <span>
                  <span class="stat-highlighter">leftFootGoals : </span> <span class="stat-token"> {{activePlayerDetails.details?.stats?.leftFootGoals}}</span>
                </span>
              </li>
              <li>
                <span>
                  <span class="stat-highlighter">shotsOnTarget : </span> <span class="stat-token"> {{activePlayerDetails.details?.stats?.shotsOnTarget}}</span>
                </span>
              </li>
              <li>
                <span>
                  <span class="stat-highlighter">rightFootGoals : </span> <span class="stat-token"> {{activePlayerDetails.details?.stats?.rightFootGoals}}</span>
                </span>
              </li>
              <li>
                <span>
                  <span class="stat-highlighter">starts : </span> <span class="stat-token"> {{activePlayerDetails.details?.stats?.starts}}</span>
                </span>
              </li>
              <li>
                <span>
                  <span class="stat-highlighter">goalsFromInsideBox : </span> <span class="stat-token"> {{activePlayerDetails.details?.stats?.goalsFromInsideBox}}</span>
                </span>
              </li>
              <li>
                <span>
                  <span class="stat-highlighter">substitutionOff : </span> <span class="stat-token"> {{activePlayerDetails.details?.stats?.substitutionOff}}</span>
                </span>
              </li>
              <li>
                <span>
                  <span class="stat-highlighter">foulsWon : </span> <span class="stat-token"> {{activePlayerDetails.details?.stats?.foulsWon}}</span>
                </span>
              </li>
              <li>
                <span>
                  <span class="stat-highlighter">assists : </span> <span class="stat-token"> {{activePlayerDetails.details?.stats?.assists}}</span>
                </span>
              </li>
              <li>
                <span>
                  <span class="stat-highlighter">gamesPlayed : </span> <span class="stat-token"> {{activePlayerDetails.details?.stats?.gamesPlayed}}</span>
                </span>
              </li>
              <li>
                <span>
                  <span class="stat-highlighter">substitutionOn : </span> <span class="stat-token"> {{activePlayerDetails.details?.stats?.substitutionOn}}</span>
                </span>
              </li>
              <li>
                <span>
                  <span class="stat-highlighter">redCards : </span> <span class="stat-token"> {{activePlayerDetails.details?.stats?.redCards}}</span>
                </span>
              </li>
              <li>
                <span>
                  <span class="stat-highlighter">goals : </span> <span class="stat-token"> {{activePlayerDetails.details?.stats?.goals}}</span>
                </span>
              </li>
              <li>
                <span>
                  <span class="stat-highlighter">successfulCrosses : </span> <span class="stat-token"> {{activePlayerDetails.details?.stats?.successfulCrosses}}</span>
                </span>
              </li>
              <li>
                <span>
                  <span class="stat-highlighter">goalsFromOutsideBox : </span> <span class="stat-token"> {{activePlayerDetails.details?.stats?.goalsFromOutsideBox}}</span>
                </span>
              </li>
            </ul>
        </div>
      </div>
    </section>
  </section>
  
  <ng-template #messageTemplate>
    <span class="error-message">{{activePlayerDetails.message}}</span>
  </ng-template>
</main>
